<div class="navigation-container">
    <div class="navigation">
        <ul>
            {{#foreach navigation}}
                <li class="nav"><a href="{{url absolute="true"}}">{{label}}</a></li>
            {{/foreach}}
        </ul>
    </div>
</div>

