@charset "UTF-8";

body {
    background: rgb(248, 247, 245);
    color: rgb(66, 65, 63);
    font-family: "Gill Sans MT", "Gill Sans", "Gill Sans Std", Verdana, sans-serif;
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
}
a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid rgb(200, 199, 197);
    word-break: break-all;
}
a:hover, a:active {
    background: rgb(239, 238, 234);
    border-style: solid;
    border-color: rgb(239, 238, 234);
    border-width: 3px;
    margin: 0 -3px;
    border-radius: 3px;
    color: black;
}
header {
    margin: 55px auto;
    width: 100%;
}
.headerimg {
    height: 30px;
}
.blog-title {
    width: 100%;
    text-align: right;
    margin: 40px auto;
}
.blog-title a {
    border-style: none;
}
.blog-title a:hover, .blog-title a:active {
    border-style: solid;
    border-width: 22px 5px 1px 9px;
    border-radius: 4px;
    border-color: rgb(239, 238, 234);
    position: relative;
    left: 2px;
}
.description {
    width: 100%;
    position: relative;
    left: -10px;
}
.navigation {
    width: 100%;
    line-height: 2em;
    text-align: center;
}
.navigation ul {
    margin: 0;
    padding: 0;
}
.navigation li {
    display: inline;
    margin: 0 4%;
}
.navigation li:first-child {
    margin-left: 0;
}
.navigation li:last-child {
    margin-right: 0;
}
article {
    margin: 40px auto;
    line-height: 1.5em;
}
.date {
    color: rgb(157, 156, 153);
    line-height: 1em;
    position: relative;
    bottom: -8px;
}
.pilcrow {
    float: left;
    width: 0;
    font-size: 0.9em;
    position: relative;
    left: -2.5em;
    top: 0.3em;
    color: transparent;
    visibility: hidden;
    -webkit-transition: color 0.2s, visibility 0.2s;
            transition: color 0.2s, visibility 0.2s;
}
.pilcrow:hover {
    color: transparent !important;
    border: none;
    margin: 0;
    cursor: default;
}
.text-title-container:hover .pilcrow {
    visibility: visible;
    color: rgb(250, 80, 60);
}
h1 {
    margin-bottom: 0.1em;
}
.text-title {
    display: block;
    font-size: 1.15em;
    font-weight: normal;
    line-height: 1.3em;
    border-style: none;
    padding: 3px;
    position: relative;
    left: -3px;
}
.text-title:hover, .text-title:active {
    border-width: 0;
    border-radius: 3px;
    margin: 0;
}
p {
    margin-bottom: 1em;
}
blockquote {
    border-left: 2px solid rgb(187, 186, 184);
    padding: 0 1em 0 1em;
    margin: 1.2em 0 1.2em 1em;
}
code {
    font-size: 0.9em;
    padding: 2px;
    background: rgb(239, 238, 234);
    border-style: solid;
    border-color: rgb(200, 199, 197);
    border-width: 1px;
    margin: 0 -1px;
    border-radius: 3px;
    word-break: break-all;
    overflow: auto;
}
pre code {
    display: block;
    padding: 0;
    padding-left: 8px;
}
.inkout {
    background: rgb(66, 65, 63);
}
.inkout a {
    border-bottom: none;
}
.inkout:hover, .inkout:active, .inkout::selection {
    background: rgb(239, 238, 234);
    cursor: not-allowed;
}
.inkout:hover a, .inkout:active a, .inkout::selection a {
    border-bottom: 1px solid rgb(200, 199, 197);
}
hr {
    max-width: 260px;
    margin: 80px auto;
    height: 1px;
    border: 0;
    background: rgba(157, 156, 153, 0.8);
}
footer {
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    margin: 30px auto;
}
.pagination ul {
    padding-left: 0;
}
.pagination li {
    display: inline;
    margin: 0 15px;
}
#search {
    display: inline;
    width: 110px;
}
#search input {
    font-size: 0.9em;
    text-align: center;
    font-family: "Gill Sans MT", "Gill Sans", "Gill Sans Std", Verdana, sans-serif;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: rgb(200, 199, 197);
}
.subscribe-form {
    display: inline;
    text-align: center;
}
.subscribe-input {
    font-size: 1.2em;
    text-align: center;
    font-family: "Gill Sans MT", "Gill Sans", "Gill Sans Std", Verdana, sans-serif;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: rgb(200, 199, 197);
}
.subscribe-button {
    display: none;
}
.copyright {
    color: rgb(157, 156, 153);
    margin-top: 25px;
    margin-bottom: 40px;
}
